{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="yandex-verification" content="3c2e0d3ccd9fcec2" />
    <meta name="google-site-verification" content="7JBQR635ZhnmG_HZA3Jrnm45wDVXeK1inUaNP5czAfs" />

    <meta name="yandex-verification" content="cc40daa1e88072f6" />
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="The main purpose of this dataset is to solve the semantic segmentation problem. This dataset is presented in the form of source images and binary masks. The size of images in the dataset is 1000x666 pixels. The binary mask mapping is performed automatically using the alpha masks. This is an earlier dataset where the original alpha channels are not saved. The photographs were taken in 2016.

All images have been anonymized using the copyrighted software. Anonymization of all photographs is performed using the model who has given his consent to it.  "/>
    <meta name="keywords" content="Deep learning, computer vision, matting dataset, segmentation dataset,  neural networks, free dataset, alpha matting data, buy matting dataset, get matting dataset, get segmentation dataset, get matting dataset, get segmentation dataset, segmentation dataset, human matting dataset, deep learning dataset, neural network dataset, peoples images, people photos, peoples dataset for semantic segmentation, unet dataset, fcn dataset, deeplab v3 dataset, deep image, matting, semantic human matting, image matting, video matting, cutting out the people, trimap segmentation, image matting cnn, automated alpha matting"/>
    <!-- Title -->
    <title>Image matting data</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'landing_page/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link href="{% static 'landing_page/style.css' %}" rel="stylesheet">
    <link href="{% static 'landing_page/css/responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaOnLoadCallback&render=explicit"></script> -->






</head>



<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="#">Datasets</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">Advantages</a></li>
                                    <!--<li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                                    -->
                                    <li class="nav-item"><a class="nav-link" href="#type2">Segmentation dataset</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#type1">Mating dataset</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="#contact">&nbsp;&nbsp;info@alphamattingdata.com&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-6 col-md">
                    <div class="wellcome-heading">
                        <h2>Image matting dataset</h2>
                        <h3>Dataset</h3>
                        <p></p>
                    </div>
                    <div class="get-start-area">
                    </div>
                </div>
                <div class="welcome-thumb wow fadeInDown col-6 col-md" data-wow-delay="0.5s">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>ADVANTAGES</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="ti-mobile" aria-hidden="true"></i>
                        </div>
                        <h4>High resolution of the furnished data</h4>
                        <p>Images have resolution of the professional photo cameras Canon EOS 5D Mark III Body Black</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="ti-ruler-pencil" aria-hidden="true"></i>
                        </div>
                        <h4>Excellent quality of the source data</h4>
                        <p>Each photograph is processed and cut away by the professional retouch artists that guarantee the highest quality of alpha channels.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="ti-settings" aria-hidden="true"></i>
                        </div>
                        <h4>Large data volume </h4>
                        <p>The total volume of unique photo images is more than 15,000 pieces. It is guaranteed that the dataset has no duplicates.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Special Description Area -->


        <section class="special-area pricing-plane-area clearfix" id="type2">
             <div class="special_description_area mt-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5 ml-xl-auto">
                            <div class="special_description_content">
                                <h2>SEGMENTATION DATASET</h2>
                                <p>
                                The main purpose of this dataset is to solve the semantic segmentation problem. This dataset is presented in the form of source images and binary masks. The size of images in the dataset is 1000x666 pixels. The binary mask mapping is performed automatically using the alpha masks. This is an earlier dataset where the original alpha channels are not saved. The photographs were taken in 2016.
                                </p>
                                <p>
                                All images have been anonymized using the copyrighted software. Anonymization of all photographs is performed using the model who has given his consent to it.
                                </p>
                                <p>
                                The images are represented by several regions of the country. They are made with various photo camera models, in various premises and shooting conditions, during various seasons. Most of the photographs are taken on light gray, blue or white backgrounds. The photographs are taken using professional lighting devices (flash umbrellas) or a built-in flash. The models on the photos posturize as follows:
                                <ul>
                                    <li>Upright position</li>
                                    <li>Sitting on a chair (different variations)</li>
                                    <li>On the floor (different variations)</li>
                                    <li>Taking various accessories (weapons, swords, balls, etc.)</li>
                                    <li>The source photos have several types of portrait cropping: full length, waist-high, breast-deep, head and shoulders.</li>
                                    <li>It is guaranteed that all photographs are unique!</li>
                                </ul>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="special_description_img">
                                <div class="slider">
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01302.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01303.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01304.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01305.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01307.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01309.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01311.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01312.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01313.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/segm/01314.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Heading Text  -->
                        <div class="section-heading text-center">
                            <h2>Segmentation dataset pricing plan</h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-1">
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Free Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span></span>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>20 photos</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a target="_blank" href="https://disk.yandex.ru/d/lokRny3-EnevOw" data-plan="Segmentation dataset - Free">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Starter Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>70</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>500 photos</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Segmentation dataset - Starter Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan active text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Basic Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>600</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>5,000 photos</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Segmentation dataset - Basic Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Advanced plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>1000</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>10,000 photos</p>
                                <p>24/7 Support</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Segmentation dataset - Advenced Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Full Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>1200</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>15,000 photos (full set)</p>
                                <p>24/7 Support</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Segmentation dataset - Full Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-12 col-md-6 col-lg-1">
                     </div>
                </div>
            </div>
        </section>


        <section class="special-area pricing-plane-area clearfix" id="type1">
            <div class="special_description_area mt-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="special_description_img">
                                <div class="slidersecond">
                                   <div class="slider__item">
                                        <img src="{% static 'landing_page/img/mat/alpha_0013.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/mat/alpha_00023.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/mat/alpha_00032.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/mat/alpha_00117.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/mat/alpha_01053.png' %}" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="{% static 'landing_page/img/mat/alpha_01230.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 ml-xl-auto">
                            <div class="special_description_content">
                                <h2>MATTING DATASET</h2>
                                <p>This dataset contains the high quality images in .png format. Data is represented by 4-channel images (RGB + alpha). The images are provided in high resolution (on an average, 4500 pixels along the length). Each photograph has been cut away by the professional retouch artists that guarantees an excellent quality of the image alpha channels. Even the smallest details, such as the ends of hair and the clothes laces are retained! Just as in the segmentation dataset, the photographs have been taken in different parts of the country at different time and with different types of shooting, postures, and cropping modes. This is a newer dataset, the photographs in which were taken in 2018.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Heading Text  -->
                        <div class="section-heading text-center">
                            <h2>Matting dataset pricing plan</h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-1">
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Free Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span></span>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>10 photos</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="https://disk.yandex.ru/d/b-guJyEo26qgGw" target="_blank" data-plan="Matting dataset - Free">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Starter Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>100</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>100 photos</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Matting dataset - Starter Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan active text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Basic Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>790</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>1,000 photos</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Matting dataset - Basic Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Advanced plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>3300</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>5,000 photos</p>
                                <p>24/7 Support</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Matting dataset - Advenced Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-12 col-md-6 col-lg-2">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                <h5>Full Plan</h5>
                                <div class="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>6900</h4>
                                </div>
                            </div>
                            <div class="package-description">
                                <p>12,000 photos</p>
                                <p>24/7 Support</p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="#contact" data-plan="Matting dataset - Full Plan">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                </div>
            </div>
        </section>

    </section>

    <!-- ***** Cool Facts Area Start ***** -->
    <section class="cool_facts_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="counter-area">
                            <h3><span class="counter">400</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="ion-arrow-down-a"></i>
                            <p>OVER <br>GB</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="counter-area">
                            <h3><span class="counter">20</span><span>K</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="ion-person"></i>
                            <p>OVER<br> SAMPLES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row" id="contact-form-id">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Get in touch with us!</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form id="mail-form" action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                            <input type="hidden" id="type-plan" value="">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <!--required-->
                                            <input required type="text" class="form-control" name="name" id="name" placeholder="Your Name"/>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input required type="email" class="form-control" name="email" id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Your E-mail"/>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea required name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="g-recaptcha" data-sitekey="6LcdPuEUAAAAAHOnOGsap9vP_baoLPH3wuMVSxXX"></div>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer style="display: none;" class="footer-social-icon text-center section_padding_70 clearfix">

        <div class="footer-text">
            <h2>Ca.</h2>
        </div>
        <div class="footer-social-icon">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="active fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="copyright-text">
            <p>Copyright ©2020 Ca. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="{% static 'landing_page/js/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'landing_page/js/popper.min.js' %}"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="{% static 'landing_page/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins JS -->
    <script src="{% static 'landing_page/js/plugins.js' %}"></script>
    <!-- Slick Slider Js-->
    <!-- Footer Reveal JS -->
    <script src="{% static 'landing_page/js/footer-reveal.min.js' %}"></script>
    <!-- Active JS -->
    <script src="{% static 'landing_page/js/active.js' %}"></script>

    <script src="{% static 'landing_page/js/particles.js' %}"></script>

    <script type="text/javascript" src="{% static 'landing_page/js/jquery.zoom.min.js' %}"></script>

    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    <script src="{% static 'landing_page/js/common.js' %}"></script>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(60955756, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/60955756" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <script type="text/javascript" >
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter51188996 = new Ya.Metrika2({
        id:51188996,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
        });
        } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>



    <noscript><div><img src="https://mc.yandex.ru/watch/51188996" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160635181-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160635181-1');
    </script>



</body>

</html>
